<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script type="text/javascript" src="/js/main.js" charset="utf-8"></script>
<html>
<head>
    <title>Queue up</title>
</head>
<body>
    Your request: (status - {{status}})
    <script type="text/javascript">
        wsConnect('{{ taskID }}');
    </script>
</body>
</html>
